

.header_menu_button {
	color: #FFF;
	padding: 22px;
	font-weight: bold;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 36px;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.55);
}
